<template>
  <no-ssr>
    <div>
      <div class="text-center uppercase text-teal-400 text-4xl mt-5 mb-5">
        MOVIES TESTING
      </div>
      <div
        id="scrollTop"
        class="scrollTop bg-go-to-top"
        @click.prevent="scrollTop"
      />
      <div class="search__container">
        <p class="search__title mb-2">
          Go ahead, hover over search your movie!!
        </p>
        <input v-model="search" class="search__input" type="text" placeholder="Typing your movie...">
      </div>
      <div class="card-movies">
        <div class="box">
          <nuxt-link
            v-for="movie in filterSearch"
            :key="movie.id"
            :to="`/movies/${movie.id}`"
          >
            <div class="card">
              <div class="imgBx">
                <img :src="movie.poster_path" :alt="movie.title">
              </div>
              <div class="details">
                <h2>{{ movie.title }}</h2>
                <div class="flex justify-center">
                  <span>Rating: {{ movie.vote_average }}/10</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1"
                      fill="yellow"
                      d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
      <infinite-loading spinner="spiral" @infinite="infiniteScroll" />
      <div class="flex justify-center pb-10">
        <button
          class="w-32 mr-10 bg-blue-500 focus:outline-none hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
          :disabled="checkPrev()"
          @click="updatePage(currentPage - 1, 'prev')"
        >
          Prev
        </button>
        <button
          class="w-32 bg-blue-500 focus:outline-none hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
          :disabled="!checkNext()"
          @click="updatePage(currentPage + 1, 'next')"
        >
          Next
        </button>
      </div>
    </div>
  </no-ssr>
</template>

<script>
import listMoviesQuery from '../../apollo/queries/listMovies'

export default {
  name: 'Movies',
  async fetch () {
    this.listMovies = await this.fetchListMovies()
    this.currentPage = this.listMovies.page
    this.totalPage = this.listMovies.totalPage
  },
  data () {
    return {
      lastPage: 0,
      listMovies: [],
      currentPage: 1,
      totalPage: 0,
      search: ''
    }
  },
  computed: {
    filterSearch () {
      if (this.search) {
        return this.listMovies.movies.filter((item) => {
          return item.title.toLowerCase().includes(this.search.toLowerCase())
        })
      } else {
        return this.listMovies.movies
      }
    }
  },
  mounted () {
    this.currentPage = this.listMovies.page
    this.totalPage = this.listMovies.totalPage
    document.addEventListener('scroll', this.scrollListener)
    window.onscroll = () => {
      this.checkScrollTop()
    }
  },
  beforeDestroy () {
    document.removeEventListener('scroll', this.scrollListener)
  },
  methods: {
    async infiniteScroll ($state) {
      this.currentPage += 1
      const data = await this.fetchListMovies()
      if (data.movies.length) {
        data.movies.forEach((mv) => {
          this.listMovies.movies.push(mv)
          $state.loaded()
        })
      } else {
        $state.complete()
      }
    },
    scrollTop () {
      // eslint-disable-next-line no-undef
      $('html, body').animate({ scrollTop: 0 }, 800)
    },
    checkScrollTop () {
      if (document.scrollingElement.scrollTop > 400) {
        document.getElementById('scrollTop').style.display = 'block'
      } else {
        document.getElementById('scrollTop').style.display = 'none'
      }
    },
    async fetchListMovies () {
      const result = await this.$apollo.query({
        query: listMoviesQuery,
        variables: {
          pageNumber: this.currentPage
        }
      })
      return result.data.nowPlaying
    },
    checkNext () {
      return this.currentPage < this.totalPage
    },
    checkPrev () {
      return this.currentPage > this.totalPage || this.currentPage === 1
    },
    async updatePage (pageC, action) {
      const result = await this.$apollo.query({
        query: listMoviesQuery,
        variables: { pageNumber: pageC }
      })
      this.listMovies = result.data.nowPlaying
      if (action === 'next') {
        this.currentPage++
        this.scrollTop()
      } else {
        this.currentPage--
        this.scrollTop()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@media screen  and (max-width: 577px) {
  .search {
    &__input {
      width: 250px !important;
    }
  }
}
.search {
  &__container {
    margin-bottom: 50px;
  }
  &__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
  }
  &__input {
    display: flex;
    margin: 0 auto;
    width: 400px;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    &::placeholder {
      color: color(#575756 a(0.8));
      letter-spacing: 1.5px;
    }
    &:hover,
    &:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
    }
  }
}

.bg-go-to-top {
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("~@/assets/images/go-to-top.png");
}
.scrollTop {
  position: fixed;
  top: 80%;
  z-index: 100;
  right: 1vw;
  display: none;
  font-weight: bold;
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 15px 0;
  a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
  }
  a:nth-child(1) {
    margin-right: 15px;
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }
}
.card-movies {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}
.box {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.card {
  position: relative;
  width: 300px;
  height: 450px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}
.card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}
.card:hover .imgBx {
  bottom: 110px;
}

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  text-align: center;
}

.card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}
.card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
}
svg {
  width: 20px;
}
</style>
